{% extends 'base.html' %}
{% load jalali_tags %}
{% load custom_field_lookups %}

{% block header_refrences %}
    <style>
        body {
            background-color: #0009;
            color: #fff;
            text-align: center;
        }

        table {
            margin: auto;
            text-align: center;
            font-family: Vazirmatn, sans-sarif;
        }

        th, td {
            border: 1px solid #fff;
            padding: 2rem;
        }

        a {
            text-decoration: none;
            color: #fff;
            cursor: pointer;
        }

    </style>

{% endblock %}

{% block title %}
    Reserve Tabel
{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th> روز / زمان</th>
            {% for date in week_date %}
                <th>
                    <p class="send">{{ date|to_jalali }}</p>
                    <p>{{ date|get_parsian_weekday }}</p>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for sons_time in sons_times %}
            <tr>
                <th>
                    <p class="send">{{ sons_time.time|time:"H:i" }}</p>
                </th>
                {% for date in week_date %}
                    <td>
                        {% if sons_time.time < now.time and date == now.date %}
                            <strong>TIME OUT</strong>
                        {% else %}
                            {% for reserved_date in sons_time.sons_time_reserves.all|get_reserved_date_paid %}
                                {% if reserved_date.date == date and reserved_date.time == sons_time.time and reserved_date.is_paid == True %}
                                    <strong>RESERVED</strong>
                                    <br>
                                    <span>{{ reserved_date.user }}</span>
                                {% else %}
                                    <a href="{% url "reservations:detail" reserve_date=date reserve_time=sons_time.time %}">{{ sons_time.price|three_digits_currency }}</a>
                                {% endif %}
                            {% empty %}
                                <a href="{% url "reservations:detail" reserve_date=date reserve_time=sons_time.time %}">{{ sons_time.price|three_digits_currency }}</a>
                            {% endfor %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
