{% extends 'base.html' %}
{% load jalali_tags %}
{% load custom_field_lookups %}

{% block header_refrences %}
    <style>
        body {
            background-color: #0009;
            color: #fff;
            text-align: center;
        }

        table {
            margin: auto;
            text-align: center;
            font-family: Vazirmatn, sans-sarif;
        }

        th, td {
            border: 1px solid #fff;
            padding: 2rem;
        }

        p {
            cursor: pointer;
        }

    </style>

{% endblock %}

{% block title %}
    Reserve Tabel
{% endblock %}

{% block content %}
    <table>
        <thead>
        <tr>
            <th> روز / زمان</th>
            {% for date in week_date %}
                <th>
                    <p class="send">{{ date|to_jalali }}</p>
                    <p>{{ date|get_parsian_weekday }}</p>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for sons_time in sons_times %}
            <tr>
                <th>
                    <p class="send">{{ sons_time.time|time:"H:i" }}</p>
                </th>
                {% for date in week_date %}
                    <td>
                        {% if sons_time.time < now_time %}
                            fuck
                        {% else %}
                            <p class="send"
                               onclick="sendRequest('{{ date|date:"Y-m-d" }}','{{ sons_time.time|time:"H:i" }}', '{{ sons_time.price }}')">{{ sons_time.price|three_digits_currency }}</p>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block footer_refrences %}
    <script>
        function sendRequest(date, time, price) {
            const url = "/table/payment/"
            window.location.href = url + `?week={{ week_number }}&date=${date}&time=${time}&price=${price}`
        }
    </script>
{% endblock %}
