*{
    font-family: Vazirmatn;
}
#header {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(92, 202, 238, 0.41) 42%, rgba(176, 229, 208, 1) 93.6%) !important;
    color: #000 !important;
}

#user-tools{
    font-size: 18px;
}