section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden
}

section .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.login {
    direction: rtl;
    position: relative;
    padding: 50px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
    transition: .5s
}

.login h2 {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 10px;
    text-shadow: .1rem .1rem rgba(225, 225, 225, 0.5)
}

.login .inputBox {
    position: relative
}

.login .inputBox input, .submit-btn input {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    outline: 0;
    font-size: 1.25rem;
    color: #000;
    border-radius: 5px;
    background: #fff;
    border: 0
}

.login .inputBox ::placeholder {
    color: #000;
    font-size: 16px
}

.login .submit-btn #btn {
    position: relative;
    border: 0;
    outline: 0;
    background: #000;
    color: #fff;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 500;
    transition: .5s;
}

.login .submit-btn #btn:hover {
    background: #fff8;
    color: #000
}

.login .group {
    display: flex;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 500
}

.login .group a {
    color: #002fff
}

.login .group a:hover {
    text-decoration: underline
}

.login label {
    font-size: 20px;
    font-weight: 500
}

.errorlist {
    color: #fff;
    background-color: #0006;
    border-radius: 0 0 5px 5px;
    text-align: center
}

@media screen and (max-width: 580px) {
    .login {
        transition: .5s;
        padding: 30px;
        width: 100%
    }

    .login h2 {
        font-size: 3.5rem
    }

    .login label, p {
        font-size: 18px
    }

    .login .submit-btn #btn {
        font-size: 18px
    }
}

@media (max-width: 1020px) {
    section {
        flex-direction: column;
        height: auto;
        padding: 20px
    }

    section .info-box {
        max-width: 100%;
        padding: 30px;
        margin-top: -40px
    }
}