* {
    text-align: center
}

a {
    text-decoration: none;
    color: white
}

body {
    background: url(../image/bg-7.jpg) center / cover
}

.table-div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    align-items: center
}

.table {
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 .4rem .8rem #0005;
    overflow: hidden;
    margin: 2rem 0 3rem 0;
    transition: .5s;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-around
}

.table__header a {
    display: inline-block;
    padding: 18px 26px;
    text-decoration: none;
    border-radius: 6px;
    background-color: #FFFFFF19;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: #000;
    font-size: 20px;
    cursor: pointer;
    transition: 300ms
}

.table__header a:hover {
    background-color: #FFFFFF19;
    box-shadow: 0 .4rem .8rem #0005
}

.table__header a.url_resolver {
    background-color: #00000000;
    box-shadow: 0 0 3rem #fff5;
    color: #fff
}

.table__header h1 {
    font-size: 30px;
    margin-top: 10px;
    text-shadow: 0 .4rem .8rem #0005;
    transition: .5s
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto
}

.table__body::-webkit-scrollbar {
    display: none
}

.table__body::-webkit-scrollbar-thumb {
    background-color: #0004;
    border-radius: .5rem;
    visibility: hidden
}

.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

td{
    color: #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}

thead tr th:first-child{
    border: 0;
}

table {
    width: 100%
}

div.open-box , div.reserved-box{
    display: flex;
    flex-direction: column;
}

div.open-box span:nth-child(2){
    color: #fff;
}

thead th {
    top: 0;
    left: 0;
    background-color: #d5d1de;
    text-align: center
}

tbody tr:nth-child(even) {
    background-color: #0000000b
}

tbody tr:hover {
    background-color: #fff6
}

table tbody td.open {
    background-color: #11d58f
}

table tbody td.reserved {
    background-color: rgba(239, 68, 68, 1)
}

table tbody td.closed {
    background-color: #fd7919;
}

table tbody td.closed strong{
    margin-top: 50px;
}


@media (max-width: 1000px) or (min-width: 1000px) {
    td {
        min-width: 10rem
    }
}

@media screen and (max-width: 700px) and (min-width: 300px) {
    .table {
        width: calc(100% - 10px);
        transition: .5s;
        margin-top: 10px
    }

    .table__header a {
        display: block;
        margin: 5px;
        padding: 5px;
        height: 82px;
        transition: .5s
    }

    .table__header h1 {
        margin-top: 5px;
        padding: 0 13px;
        font-size: 25px;
        transition: .5s
    }
}

th {
    width: 300px
}

table tbody tr th {
    font-size: 16px
}

table thead tr th strong {
    display: flex;
    justify-content: center
}

hr {
    color: #fff4;
    border-width: 2px
}

table tbody td a span {
    color: #000
}

table tbody td a {
    font-size: 16px !important
}

header {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    width: 80vw
}

ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

ul li {
    list-style: none;
    margin: 0 10px
}

ul li a {
    position: relative;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1000;
    overflow: hidden;
    backdrop-filter: blur(15px);
    border-radius: 25px;
    transition: .5s
}

#marker {
    position: absolute;
    top: 0;
    right: 30px;
    width: 41px;
    height: 41px;
    z-index: 1;
    transition: .5s
}

#marker::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: .5s;
    background: #fff;
    box-shadow: 0 0 15px #fff, 0 0 30px #fff, 0 0 45px #fff, 0 0 60px #fff
}

ul li:nth-child(1):hover ~ #marker::before {
    background: #5da6ff;
    box-shadow: 0 0 15px #5da6ff, 0 0 30px #5da6ff, 0 0 45px #5da6ff, 0 0 60px #5da6ff
}

ul li:nth-child(2):hover ~ #marker::before {
    background: #f00;
    box-shadow: 0 0 15px #f00, 0 0 30px #f00, 0 0 45px #f00, 0 0 60px #f00
}

ul li:nth-child(3):hover ~ #marker::before {
    background: #ff0;
    box-shadow: 0 0 15px #ff0, 0 0 30px #ff0, 0 0 45px #ff0, 0 0 60px #ff0
}

ul li:nth-child(4):hover ~ #marker::before {
    background: #0f0;
    box-shadow: 0 0 15px #0f0, 0 0 30px #0f0, 0 0 45px #0f0, 0 0 60px #0f0
}

ul li:nth-child(5):hover ~ #marker::before {
    background: #df2fff;
    box-shadow: 0 0 15px #df2fff, 0 0 30px #df2fff, 0 0 45px #df2fff, 0 0 60px #df2fff
}

@media (max-width: 1020px) {
    header {
        position: relative;
        flex-direction: column;
        width: 90%;
        top: 5px;
        padding: 10px;
        right: 0;
        left: 0
    }

    header ul {
        margin-top: 10px;
        flex-wrap: wrap-reverse;
        justify-content: center
    }

    header ul li a {
        display: inline-block
    }
}

@media (max-width: 768px) {
    #marker {
        display: none
    }

    header ul li a:hover {
        background: #2c2c2c;
        color: #fff
    }

    header ul li a{
        font-size: 18px;
    }
}