{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}پروفایل کاربری{% endblock %}

{% block header_references %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_form_profile.css' %}">
{% endblock %}

{% block content %}
    <div class="main-div">
        {% include 'inc/menubar.html' %}
        <div class="dashboard" dir="rtl">
            {% include 'accounts/inc/sidebar.html' %}
            <div class="main">
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    <div class="login">
                        <h2>تغییر رمز عبور</h2>
                        <div class="inputBox">
                            <label for="fullname"><i class="fa-solid fa-key"></i>&nbsp;&nbsp;رمز عبور فعلی:</label>
                            {% render_field form.old_password id="fullname" placeholder="رمز عبور فعلی خود را وارد کنید." %}
                            {{ form.old_password.errors }}
                        </div>
                        <div class="inputBox">
                            <label for="phone_number"><i class="fa-solid fa-unlock"></i>&nbsp;&nbsp;رمز عبور
                                جدید:</label>
                            {% render_field form.new_password1 id="phone_number" placeholder="رمز عبور جدید خود را وارد کنید." %}
                            {{ form.new_password1.errors }}
                        </div>
                        <div class="inputBox">
                            <label for="phone_number"><i class="fa-solid fa-lock"></i>&nbsp;&nbsp;تکرار رمز عبور
                                جدید:</label>
                            {% render_field form.new_password2 id="phone_number" placeholder="رمز عبور جدید خود را تکرار کنید." %}
                            {{ form.new_password2.errors }}
                        </div>
                        <div class="submit-btn">
                            <input type="submit" value="تغییر رمز عبور" id="btn">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_references %}
    <script>
        {% if messages %}
            {% for msg in messages %}
                Swal.fire({
                    title: "{{ msg }}",
                    icon: "{{ msg.tags }}",
                    confirmButton: "باشه"
                })
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}