{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}پروفایل کاربری{% endblock %}

{% block header_references %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_form_profile.css' %}">
{% endblock %}

{% block content %}
    <div class="main-div">
        {% include 'inc/menubar.html' %}
        <div class="dashboard" dir="rtl">
            {% include 'accounts/inc/sidebar.html' %}
            <div class="main">
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    <div class="login">
                        <h2>ویرایش حساب کاربری</h2>
                        <div class="inputBox">
                            <label for="fullname"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;نام و نام
                                خانوادگی:</label>
                            {% render_field form.full_name id="fullname" placeholder="نام و نام خانوادگی خود را وارد کنید." %}
                        </div>
                        <div class="inputBox">
                            <label for="phone_number"><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;شماره موبایل (جهت
                                هماهنگی):</label>
                            {% render_field form.phone_number id="phone_number" placeholder="********09" %}
                            {{ form.phone_number.errors }}
                        </div>
                        <div class="submit-btn">
                            <input type="submit" value="ثبت" id="btn">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer_references %}
    <script>
        {% if messages %}
            {% for msg in messages %}
                Swal.fire({
                    text: "{{ msg }}",
                    icon: "{{ msg.tags }}",
                    confirmButton: "باشه"
                })
            {% endfor %}
        {% endif %}
    </script>
{% endblock %}